// *****************************************************************************
//
//  _modules.scss
//
// *****************************************************************************

// -----------------------------------------------------------------------------
//  Module box
// -----------------------------------------------------------------------------
%m-box {

    // modifiers
    &.no-border {
        border: 0;
    }

    &.right {
        float: right;
    }

    // states
    &.is-disabled {
        background-color: $cp7;
    }

}
