// *****************************************************************************
//
//  _mixins.scss
//
// *****************************************************************************


// -----------------------------------------------------------------------------
//  Font size
// -----------------------------------------------------------------------------

@mixin font-size($size-value: 16) {
    font-size: $size-value + px;
    font-size: ($size-value/16) + rem;
}


// -----------------------------------------------------------------------------
// Visuallyhidden
// -----------------------------------------------------------------------------
// Makes an element visually hidden, but still accessible to keyboards and assistive devices.
// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility Hiding Content for Accessibility
@mixin element-invisible {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

// Reverses the CSS output created by the `element-invisible()` mixin.
@mixin element-visible {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
}

.screen-reader-text {
    @include visuallyhidden();
}


// -----------------------------------------------------------------------------
//  Image replacement
// -----------------------------------------------------------------------------
@mixin ir {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}


// -----------------------------------------------------------------------------
//  Unstyled list
// -----------------------------------------------------------------------------
%list-unstyled {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


// -----------------------------------------------------------------------------
// Position elements center
// -----------------------------------------------------------------------------

// Vertically centers the element inside of its first non-static parent,
// @link http://www.sitepoint.com/centering-with-sass/ Centering With Sass
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Horizontally centers the element inside of its first non-static parent,
// @link http://www.sitepoint.com/centering-with-sass/ Centering With Sass
@mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// Absolutely centers the element inside of its first non-static parent,
// @link http://www.sitepoint.com/centering-with-sass/ Centering With Sass
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// -----------------------------------------------------------------------------
// Truncate text
// -----------------------------------------------------------------------------
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// -----------------------------------------------------------------------------
// Calculate PX into REM
// Use - width: rem(600px);
// Output - width: 37.5rem;
// -----------------------------------------------------------------------------
@function rem($pixels) {
  $rem-size: (strip-units($pixels) / 16);
  @return #{$rem-size}rem;
}


// -----------------------------------------------------------------------------
// Calculate PX into EM
// Use - width: pem(600px);
// Output - width: 37.5em;
// -----------------------------------------------------------------------------
@function pem($pixels) {
  $em-size: (strip-units($pixels) / 16);
  @return #{$em-size}em;
}


// -----------------------------------------------------------------------------
//  Placeholder
// -----------------------------------------------------------------------------

// @mixin placeholder {
//     &::placeholder {@content}
// }

// @include placeholder {
//     font-style:italic;
//     color: white;
//     font-weight:100;
// }

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}




// -----------------------------------------------------------------------------
// Clearfix
// -----------------------------------------------------------------------------
@mixin clearfix {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::after {
        clear: both;
    }
}