// *****************************************************************************
//
//  _settings.scss
//
// *****************************************************************************

// -----------------------------------------------------------------------------
//  Color values
// -----------------------------------------------------------------------------

// Color Primary
$cp0: #fff;
$cp1: #000;
$cp2: #333;
$cp3: #ff358b;
$cp4: #01b0f0;
$cp5: #aeee00;
$cp6: #999;
$cp7: #eee;
$cp8: #666;
$cp9: #e5e5e5;
$cp10: #f9f9f9;
$cp11: #c0c0c0;
$cp12: #ff0;


// -----------------------------------------------------------------------------
//  Typography
// -----------------------------------------------------------------------------

@mixin font-family {
    color: $cp1;
    font-family: sans-serif;
}


// -----------------------------------------------------------------------------
//  Fonts
// -----------------------------------------------------------------------------
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;


// -----------------------------------------------------------------------------
//  Most used values
// -----------------------------------------------------------------------------

// Examples
// $padding: 20px; // Basic padding
// $offset: 10px; // Basic offset


// -----------------------------------------------------------------------------
//  Breakpoints
// -----------------------------------------------------------------------------
$tablet: 35em;
$desktop: 56em;

// Sample code
// #foo {
//   background: red;
//   @include respond-min($tablet) {
//     background: green;
//   }
// }


// -----------------------------------------------------------------------------
//  Dynamically change text color based on its bg
// -----------------------------------------------------------------------------
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}
