<figure>
    <img src="/static/media/image.jpg" height="427" width="640" alt="Photo of cows in the meadow" />
    <figcaption>Mooooh! Original by <a href="http://flic.kr/p/aeJxtz">Jeroen Bennink</a></figcaption>
</figure>