<table>
    <caption>Caption</caption>
    <colgroup>
        <col class="column1" />
        <col class="column2" />
        <col class="column3" />
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Header 1</th>
            <th scope="col">Header 2</th>
            <th scope="col">Header 3</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Footer 1</td>
            <td>Footer 2</td>
            <td>Footer 3</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        <tr>
            <td>Cell 4</td>
            <td>Cell 5</td>
            <td>Cell 6</td>
        </tr>
        <tr>
            <td>Cell 7</td>
            <td>Cell 8</td>
            <td>Cell 9</td>
        </tr>
    </tbody>
</table>
