<button class="btn">Button</button>
<button type="submit" class="btn">Submit button</button>
<a href="#" class="btn">Link button</a>
<input type="button" value="Input button" class="btn" />
<input type="submit" value="Input submit button" class="btn" />