<form>
    <fieldset>
        <legend>Checkboxes <abbr title="Required">*</abbr></legend>
        <ul class="form-optionlist">
            <li class="form-optionlist__item">
                <input type="checkbox" name="checkbox" id="checkbox10" checked="checked" />
                <label for="checkbox10">Label A</label>
            </li>
            <li class="form-optionlist__item">
                <input type="checkbox" name="checkbox" id="checkbox20" />
                <label for="checkbox20">Label B</label>
            </li>
            <li class="form-optionlist__item">
                <input type="checkbox" name="checkbox" id="checkbox30" />
                <label for="checkbox30">Label C</label>
            </li>
        </ul>
    </fieldset>
</form>