<div class="form-field">
    <label for="input-submit">Label <abbr title="Required">*</abbr></label>
    <input type="text" name="input-submit" id="input-submit" placeholder="http://example.com" />
    <input type="button" class="btn" value="Input Button">
</div>
