<form>
    <fieldset>
        <legend>Radiobuttons <abbr title="Required">*</abbr></legend>
        <ul class="form-optionlist">
            <li class="form-optionlist__item">
                <input type="radio" name="radio" id="radio10" checked="checked" />
                <label for="radio10">Label A</label>
            </li>
            <li class="form-optionlist__item">
                <input type="radio" name="radio" id="radio20" />
                <label for="radio20">Label B</label>
            </li>
            <li class="form-optionlist__item">
                <input type="radio" name="radio" id="radio30" />
                <label for="radio30">Label C</label>
            </li>
        </ul>
    </fieldset>
</form>