<div class="form-field">
    <label for="select">Label <abbr title="Required">*</abbr></label>
    <select name="select" id="select" multiple disabled>
        <optgroup label="Option Group A">
            <option>Option One</option>
            <option>Option Two</option>
            <option>Option Three</option>
        </optgroup>
        <optgroup label="Option Group B">
            <option>Option Four</option>
            <option>Option Five</option>
            <option>Option Six</option>
        </optgroup>
    </select>
</div>