<div class="form-field">
    <label for="select">Label <abbr title="Required">*</abbr></label>
    <select name="select" id="select">
        <option value="alpha">alpha</option>
        <option value="beta">beta</option>
        <option value="gamma">gamma</option>
        <option value="delta">delta</option>
        <option value="epsilon">epsilon</option>
        <option value="zeta">zeta</option>
        <option value="eta">eta</option>
        <option value="theta">theta</option>
        <option value="iota">iota</option>
        <option value="kappa">kappa</option>
        <option value="lambda">lambda</option>
        <option value="mu">mu</option>
        <option value="nu">nu</option>
        <option value="xi">xi</option>
        <option value="omicron">omicron</option>
        <option value="pi">pi</option>
        <option value="rho">rho</option>
        <option value="sigma">sigma</option>
        <option value="tau">tau</option>
        <option value="upsilon">upsilon</option>
        <option value="phi">phi</option>
        <option value="chi">chi</option>
        <option value="psi">psi</option>
        <option value="omega">omega</option>
    </select>
</div>
