// *****************************************************************************
//
//  _butons.scss
//
// *****************************************************************************

.btn {
    background: $cp5;
    border: 0;
    color: $cp2;
    cursor: pointer;
    display: inline-block;
    padding: .5em 1em;
    text-decoration: none;
    white-space: nowrap;

    & + & {
        margin-left: 1em;
    }
}

.btn--disabled {
    opacity: .5; // iOS add standard opacity to disabled inputs
}
