// *****************************************************************************
//
//  _fonts.scss
//
// *****************************************************************************

// Great article about font-face
// http://www.456bereastreet.com/archive/201012/font-face_tip_define_font-weight_and_font-style_to_keep_your_css_simple/
// @font-face {
//     font-family: 'Centrale Sans';
//     src: url('../fonts/CentraleSans-Regular-webfont.eot');
//     src: url('../fonts/CentraleSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/CentraleSans-Regular-webfont.woff') format('woff'),
//          url('../fonts/CentraleSans-Regular-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Centrale Sans Medium';
//     src: url('../fonts/CentraleSans-MediumItalic-webfont.eot');
//     src: url('../fonts/CentraleSans-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/CentraleSans-MediumItalic-webfont.woff') format('woff'),
//          url('../fonts/CentraleSans-MediumItalic-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Centrale Sans Bold';
//     src: url('../fonts/CentraleSans-Bold-webfont.eot');
//     src: url('../fonts/CentraleSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/CentraleSans-Bold-webfont.woff') format('woff'),
//          url('../fonts/CentraleSans-Bold-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
