// *****************************************************************************
//
//  _global.scss
//  Base HTML styles overruled
//
// *****************************************************************************

// apply a natural box layout model to all elements
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    background: purple;
    border: 10px solid purple;
    font-family: sans-serif;
    @include placeholder {
      color: red;
    }
}

img,
video {
    height: auto;
    max-width: 100%;
}

@media \0screen {
    img {
        width: auto; // for ie 8
    }
}

[href^=tel] {
    color: inherit;
    text-decoration: none;
}

h5,
h6 {
    font-weight: 400;
    text-transform: uppercase;
}