// *****************************************************************************
//
//  _icons.scss
//
// *****************************************************************************

// Vertical align icons to text, add these two lines
// position: relative;
// top: -.1em;

.icon-menu {
    display: inline-block;
    height: 32px;
    width: 27px;
}
