// *****************************************************************************
//
// _layout.scss
//
// *****************************************************************************


// -----------------------------------------------------------------------------
// Container - Center block of content
// -----------------------------------------------------------------------------
.container {
    margin: 0 auto;
    max-width: 940px;
}


// -----------------------------------------------------------------------------
// Grid
// -----------------------------------------------------------------------------

.grid {
    display: table;
    table-layout: fixed;
    width: 100%;
}
    .grid__unit {
        display: table-cell;
        padding-left: 10px;
        padding-right: 10px;
        .grid--example & {
            background-color: rgba(255, 0, 0, .15);
            color: $cp2;
            line-height: 3rem;
            text-align: center;
        }
        .grid--example &:nth-child(odd) {
            background-color: rgba(255, 0, 0, .3);
        }
    }

// Example code
// .foo {
//     @include respond-min(45em) {
//         float: left;
//         width: 70%;
//     }
//     @include respond-min(60em) {
//         width: 50%;
//     }
//     @include old-ie {
//         // These hacks won't appear in the normal stylesheet
//         display: inline;
//         zoom: 1;
//         // whatever-ie-needs: le-sigh;
//     }
// }